<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Job Name</th>
            <th scope="col">Company</th>
            <th scope="col">Found On</th>
            <th scope="col">Job Description</th>
            <th scope="col">Website</th>
            <th scope="col">Application Tracking</th>
            <th scope="col">Date Applied</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobs; index as i" routerLink="job/{{job.id}}" style="cursor: pointer;">
            <th scope="row">{{i+1}}</th>
            <td>{{job.jobName}}</td>
            <td>{{job.company}}</td>
            <td>{{job.foundOn}}</td>
            <td>{{job.jobDescription}}</td>
            <td>{{job.website}}</td>
            <td>{{job.applicationTracker}}</td>
            <td>{{job.dateApplied}}</td>
        </tr>
    </tbody>
</table>